@import url(base.css);
.bg{
    width: 7.5rem;
    height:13.34rem;
    background: #cacccf;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.square{
    width: 4.04rem;
    height: 5.12rem;
    background: rgba(0,0,0,0.03);
    border: 4px solid rgba(0,0,0,0.07);
    position: absolute;
    top: 2.58rem;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}
a{
    display: block;
    width: 7.5rem;
    height:13.34rem;
}
.text{
    height: 0.28rem;
    font-size: 0.22rem;
    font-family: "苹方";
    color: rgba(0,0,0,0.6);
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 11rem;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}
.ing{
    height: 0.2rem;
    position: absolute;
    top: 10.25rem;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}
.circle1{
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 50%;
    background: #58ce76;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}
.circle2{
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 50%;
    background: #86cc9a;
    position: absolute;
    top:0;
    left: 3.3rem;
}
.circle3{
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 50%;
    background: #86cc9a;
    position: absolute;
    top:0;
    right: 3.3rem;
}
.circle4{
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 50%;
    background: #abcab7;
    position: absolute;
    top:0;
    left: 4.42rem;
}
.circle5{
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 50%;
    background: #abcab7;
    position: absolute;
    top:0;
    right: 4.42rem;
}